@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@1,500&family=Tinos:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: #cecece; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    text-align: center;
    justify-content: center;
}

:root {
    --primary-color: #ff4406;
    --second-color: #FFCB08;
}

body {
    align-items: center;
    background-repeat: no-repeat;
    height: 100vh;
    background: url('../images/quadra-2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

section {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    max-width: 600px; 
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a {
    background-color: white;
}

h2 {
    background-color: white;
    color: var(--primary-color)
}

.botao {
    color: black;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 20px;
    border: solid 2px var(--primary-color);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

.botao:hover {
    background-color: white;
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
    transition: 0.3s;
}

.logo {
    height: 90px;
    user-select: none;
    background-color: white;
  } 

  @media screen and (max-width: 900px) {
    section {
        margin: 50% 20% 20%;
    }
}

@media screen and (max-width: 600px) {
    section {
        margin: 70% 20%;
    }
}

@media screen and (max-width: 400px) {
    section {
        margin: 80% 20%;
    }
}